.yo {
  background-color: navy;
  /* mix-blend-mode: color-burn;
  opacity: 0.6; */
}
.name {
  font-family: cursive;
  color: rgb(255, 255, 255);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 25px;
}

li a {
  float: left;
  display: block;
  color: #ecff83;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: none;
  color: rgb(255, 251, 0);
}

.active {
  color: gold;
  background-color: transparent;
}

.btn {
  justify-content: center;
}
